# Imports

In [1]:
import requests
import json
from datetime import datetime
import pandas as pd

# Llamadas a la API

In [2]:
# Set parameters for the API request
start_date = "2021-01-01T00:00:00.000Z"
end_date = "2022-12-31T23:59:59.000Z"
# start_date = "2014-01-01"
# end_date = "2014-12-31"
frecuency = "hour"
# indicator = 1293 # demanda real (desde 2014, peninsula)
indicator = 551 # eolica



token = "4496891482441c5f7217402d613825c93cedf9dbb01df4f04e65fde76ba597cd"
url = f"https://api.esios.ree.es/indicators/{indicator}?start_date={start_date}&end_date={end_date}&time_agg=avg&time_trunc={frecuency}"

# Set headers for the API request
headers = {
    "Accept": "application/json",
    "Content-Type": "application/json",
    "x-api-key": "4496891482441c5f7217402d613825c93cedf9dbb01df4f04e65fde76ba597cd"
}

# Send the API request and retrieve the response
response = requests.get(url, headers=headers)

# Check if the response was successful
if response.status_code == 200:
    # Parse the response as JSON
    data = json.loads(response.text)
    # Extract the data values from the response
    values = data["indicator"]["values"]

else:
    print(f"Error: {response.status_code}")

In [3]:
df_data = pd.DataFrame(values)
df_data

,value,datetime,datetime_utc,tz_time,geo_id,geo_name
0,6978.500000,2021-01-01T01:00:00.000+01:00,2021-01-01T00:00:00Z,2021-01-01T00:00:00.000Z,8741,Península
1,7229.333333,2021-01-01T02:00:00.000+01:00,2021-01-01T01:00:00Z,2021-01-01T01:00:00.000Z,8741,Península
2,7878.000000,2021-01-01T03:00:00.000+01:00,2021-01-01T02:00:00Z,2021-01-01T02:00:00.000Z,8741,Península
3,8718.666667,2021-01-01T04:00:00.000+01:00,2021-01-01T03:00:00Z,2021-01-01T03:00:00.000Z,8741,Península
4,9194.666667,2021-01-01T05:00:00.000+01:00,2021-01-01T04:00:00Z,2021-01-01T04:00:00.000Z,8741,Península
...,...,...,...,...,...,...
17513,9882.750000,2022-12-31T20:00:00.000+01:00,2022-12-31T19:00:00Z,2022-12-31T19:00:00.000Z,8741,Península
17514,9454.750000,2022-12-31T21:00:00.000+01:00,2022-12-31T20:00:00Z,2022-12-31T20:00:00.000Z,8741,Península
17515,8913.333333,2022-12-31T22:00:00.000+01:00,2022-12-31T21:00:00Z,2022-12-31T21:00:00.000Z,8741,Península
17516,7356.833333,2022-12-31T23:00:00.000+01:00,2022-12-31T22:00:00Z,2022-12-31T22:00:00.000Z,8741,Península
17517,6117.583333,2023-01-01T00:00:00.000+01:00,2022-12-31T23:00:00Z,2022-12-31T23:00:00.000Z,8741,Península

# Guardar en csv

In [4]:
df_data.to_csv('eolica_2021-2022_API.csv')

# Forma 2 (usando params)

In [5]:
# Set the necessary headers for the API request
headers = {
    "Accept": "application/json; application/vnd.esios-api-v1+json",
    "Content-Type": "application/json",
    "x-api-key": "4496891482441c5f7217402d613825c93cedf9dbb01df4f04e65fde76ba597cd"
}

# Define the parameters for the API request
params = {
    "start_date": "2021-01-01T00:00:00.000Z",
    "end_date": "2022-12-31T23:59:59.000Z",
    "time_trunc": "hour",
    "time_agg": "avg",
    
}

# Send the API request and store the response in a variable
response = requests.get("https://api.esios.ree.es/indicators/551", headers=headers, params=params)

# Check if the response was successful
if response.status_code == 200:
    # Parse the response as JSON
    data = json.loads(response.text)
    # Extract the data values from the response
    values = data["indicator"]["values"]

else:
    print(f"Error: {response.status_code}")

In [6]:
df_data = pd.DataFrame(values)
df_data

,value,datetime,datetime_utc,tz_time,geo_id,geo_name
0,6978.500000,2021-01-01T01:00:00.000+01:00,2021-01-01T00:00:00Z,2021-01-01T00:00:00.000Z,8741,Península
1,7229.333333,2021-01-01T02:00:00.000+01:00,2021-01-01T01:00:00Z,2021-01-01T01:00:00.000Z,8741,Península
2,7878.000000,2021-01-01T03:00:00.000+01:00,2021-01-01T02:00:00Z,2021-01-01T02:00:00.000Z,8741,Península
3,8718.666667,2021-01-01T04:00:00.000+01:00,2021-01-01T03:00:00Z,2021-01-01T03:00:00.000Z,8741,Península
4,9194.666667,2021-01-01T05:00:00.000+01:00,2021-01-01T04:00:00Z,2021-01-01T04:00:00.000Z,8741,Península
...,...,...,...,...,...,...
17513,9882.750000,2022-12-31T20:00:00.000+01:00,2022-12-31T19:00:00Z,2022-12-31T19:00:00.000Z,8741,Península
17514,9454.750000,2022-12-31T21:00:00.000+01:00,2022-12-31T20:00:00Z,2022-12-31T20:00:00.000Z,8741,Península
17515,8913.333333,2022-12-31T22:00:00.000+01:00,2022-12-31T21:00:00Z,2022-12-31T21:00:00.000Z,8741,Península
17516,7356.833333,2022-12-31T23:00:00.000+01:00,2022-12-31T22:00:00Z,2022-12-31T22:00:00.000Z,8741,Península
17517,6117.583333,2023-01-01T00:00:00.000+01:00,2022-12-31T23:00:00Z,2022-12-31T23:00:00.000Z,8741,Península

In [1]:
import requests
import json
from datetime import datetime
import pandas as pd

# Cabeceras necesarias para la consulta de la API
headers = {
    "Accept": "application/json; application/vnd.esios-api-v1+json",
    "Content-Type": "application/json",
    "x-api-key": "token-personal"
}

# Parametros de la consulta
params = {
    "start_date": "2021-01-01T00:00:00.000Z",
    "end_date": "2022-12-31T23:59:59.000Z",
    "time_trunc": "hour",
    "time_agg": "avg",
    
}

# Realizar consulta con la libreria request
response = requests.get("https://api.esios.ree.es/indicators/551", headers=headers, params=params)

# Comprobaciones
if response.status_code == 200:
    data = json.loads(response.text)
    values = data["indicator"]["values"]

else:
    print(f"Error: {response.status_code}")
    
df_data = pd.DataFrame(values)
df_data.to_csv('eolica_2021-2022_API.csv')

In [2]:
df_data

,value,datetime,datetime_utc,tz_time,geo_id,geo_name
0,6978.500000,2021-01-01T01:00:00.000+01:00,2021-01-01T00:00:00Z,2021-01-01T00:00:00.000Z,8741,Península
1,7229.333333,2021-01-01T02:00:00.000+01:00,2021-01-01T01:00:00Z,2021-01-01T01:00:00.000Z,8741,Península
2,7878.000000,2021-01-01T03:00:00.000+01:00,2021-01-01T02:00:00Z,2021-01-01T02:00:00.000Z,8741,Península
3,8718.666667,2021-01-01T04:00:00.000+01:00,2021-01-01T03:00:00Z,2021-01-01T03:00:00.000Z,8741,Península
4,9194.666667,2021-01-01T05:00:00.000+01:00,2021-01-01T04:00:00Z,2021-01-01T04:00:00.000Z,8741,Península
...,...,...,...,...,...,...
17513,9882.750000,2022-12-31T20:00:00.000+01:00,2022-12-31T19:00:00Z,2022-12-31T19:00:00.000Z,8741,Península
17514,9454.750000,2022-12-31T21:00:00.000+01:00,2022-12-31T20:00:00Z,2022-12-31T20:00:00.000Z,8741,Península
17515,8913.333333,2022-12-31T22:00:00.000+01:00,2022-12-31T21:00:00Z,2022-12-31T21:00:00.000Z,8741,Península
17516,7356.833333,2022-12-31T23:00:00.000+01:00,2022-12-31T22:00:00Z,2022-12-31T22:00:00.000Z,8741,Península
17517,6117.583333,2023-01-01T00:00:00.000+01:00,2022-12-31T23:00:00Z,2022-12-31T23:00:00.000Z,8741,Península